h1 {
   text-align: center;
}


.firstP {
text-align: center;
}


button {
text-align: center;
}



.global {
    text-align-last: center;
}

body {
    display: block;
    margin: auto;
    margin-top: 300px;

}