h1 {
   text-align: center;
}


.FirstP {
text-align: center;
opacity: none;
}


button {
text-align: center;
}



input {
    text-align: center;
}



.Div1 {
    text-align: center;
}



.Lable1 {
text-align: center;
}



.Lable2 {
text-align: center;
}


.firstCSS ,.secondCSS {
    color: #000;
}



.global {
    text-align-last: center;
}

body {
    display: block;
    margin: auto;
    margin-top: 300px;

}